#pagewrap{
 max-width: 960px;
 border: 2px solid white;
 width: 100%;
 margin: 0 auto;
}

.gallery{
 width: 100%;
 margin: 0 auto;
 padding: 10vh 5vh;
 display: flex;
 flex-wrap: wrap;
}

.image{
 width: 28%;
 border: 1.5px solid #ccc;
 padding: 10px;
 margin: 2% 1.5%;
 flex-grow: 1;
 background-color: #ecf0f1;
}

.image img{
 max-width: 100%;
 margin: 0 auto;
}

.image:hover{
 box-shadow: 0 1px 30px rgba(0,0,0,.3);
 transform: scale(1.10);
 border: none;
 transition: box-shadow 0.2s ease, transform 0.2s ease;
 z-index: 1;
}

.image p{
 padding: 10px;
}

@media (max-width: 900px){
 .image{
  width: 45%;
 }
  .gallery{
    padding: 10vh 1vh;
  }
}

@media (max-width: 600px){
 .image{
  width: 50%;
 }
}