.footercontainer {
  background-color: #383A3C;
  width: 100%;
  height: 300px;
}
.footerbox1 p {
  float: left;
  width: 50%;
  margin: 1px;
  margin-left: 10%;
  color: #F4BD57 !important;
  font-size: 0.8em;
}
.footerbox1 h1 {
  color: #F4BD57 !important;
  margin: 0px 10%; 
  text-align: left;
  padding-top: 7%;
  padding-bottom: 4%;
}

.twittericon {
  position: relative;
  top: 20%;
  left: 60%;
  width: 20%;
}

.facebookicon {
  width: 12%;
  position: relative;
  top: 52%;
  left: 61.25%;
}
