.header_wrapper {
        background-color: white;
        border-bottom: 0.25px solid #BFB5A4;
        position: fixed;
        top: 0;
        left: 0;
        right:0;
        z-index: 999;
}

nav {
        margin-top: 50px;
        float: right;
        margin-right: 7%;
}

ul.nav2 {
        list-style: none;
        margin: 0px;
        padding: 0px;
}

ul.nav2:after {
        content:"";
        display:table;
        height: 0;
        clear:both;
}

li.basicheader {
        float:left;
        list-style: none;
}

.cardheader img {
        float: left;
        width: 200px;
        height: auto;
        margin-left: 3%;
        padding: 20px;
}

li.basicheader > a {
  color: grey;
  text-decoration: none;
  padding: 0 10px;
}


li.basicheader > a:hover {
  color: gold;
}



/*Responsive*/

@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 650px) {
        .cardheader img {
        float: left;
        width: 150px;
        height: auto;
        margin-left: 3%;
        padding: 15px;
        }
nav {
        margin-top: 33px;
        margin-bottom: 12px;
        float: right;
        margin-right: 0%;
        }

li.basicheader > a {
  color: grey;
  text-decoration: none;
  padding: 0 4px;
}
.cardheader{
        height: 15px;
}
}
@media only screen and (max-width: 414px) {
        .cardheader img {
        float: left;
        width: 90px;
        height: auto;
        margin-left: 3%;
        padding: 10px;
        }
nav {
        margin-top: 25px;
        margin-bottom: 10px;
        float: right;
        margin-right: 0%;
        }

li.basicheader > a {
  color: grey;
  text-decoration: none;
  padding: 0 4px;
}
.cardheader{
        height: 10px;
}
.offset {
        height: 0.4rem;
}
}
@media only screen and (max-width: 320px) {
        
    .cardheader img {
        float: left;
        width: 70px;
        height: auto;
        margin-left: 2%;
        padding: 10px;
}
nav {
        margin-top: 20px;
        margin-bottom: 10px;
        float: right;
        margin-right: 0%;
}

li.basicheader > a {
  color: grey;
  text-decoration: none;
  padding: 0 4px;
}
.cardheader{
        height: 10px;
}
.offset {
        height: 0.4rem;
}
    
}