.header_wrapper {
        background-color: white;
        border-bottom: 0.25px solid #BFB5A4;
        position: fixed;
        top: 0;
        left: 0;
        right:0;
        z-index: 999;
}

nav {
        margin-top: 50px;
        float: right;
        margin-right: 7%;
}

ul.nav1 {
        list-style: none;
        margin: 0px;
        padding: 0px;
}

ul.nav1:after {
        content:"";
        display:table;
        height: 0;
        clear:both;
}

li.basicheader {
        float:left;
}

.cardheader img {
        float: left;
        width: 200px;
        height: auto;
        margin-left: 3%;
        padding: 20px;
}

li.basicheader > a {
  color: grey;
  text-decoration: none;
  padding: 0 10px;
}


li.basicheader > a:hover {
  color: gold;
}



/*Responsive*/

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 414px) {
        .cardheader img {
        width: 100px;
    }
}